<?xml version="1.0"?>
<config>
    <modules>
        <Sharmasoft_NSU>
            <version>0.1.0</version>
        </Sharmasoft_NSU>
    </modules>
    <frontend>
        <routers>
            <nsu>
                <use>standard</use>
                <args>
                    <module>Sharmasoft_NSU</module>
                    <frontName>NSU</frontName>
                </args>
            </nsu>
        </routers>
        <layout>
            <updates>
                <nsu>
                    <file>nsu.xml</file>
                </nsu>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<nsu>
				<use>admin</use>
				<args>
					<module>Sharmasoft_NSU</module>
					<frontName>NSU</frontName>
				</args>
			</nsu>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<nsu module="nsu">
				<title>NSU</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="nsu">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>nsu/adminhtml_nsu</action>
					</items>
				</children>
			</nsu>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Sharmasoft_NSU>
							<title>NSU Module</title>
							<sort_order>10</sort_order>
						</Sharmasoft_NSU>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<nsu>
					<file>nsu.xml</file>
				</nsu>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <nsu>
                <class>Sharmasoft_NSU_Model</class>
                <resourceModel>nsu_mysql4</resourceModel>
            </nsu>
            <nsu_mysql4>
                <class>Sharmasoft_NSU_Model_Mysql4</class>
                <entities>
                    <nsu>
                        <table>nsu</table>
                    </nsu>
                </entities>
            </nsu_mysql4>
        </models>
        <resources>
            <nsu_setup>
                <setup>
                    <module>Sharmasoft_NSU</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </nsu_setup>
            <nsu_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </nsu_write>
            <nsu_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </nsu_read>
        </resources>
        <blocks>
            <nsu>
                <class>Sharmasoft_NSU_Block</class>
            </nsu>
        </blocks>
        <helpers>
            <nsu>
                <class>Sharmasoft_NSU_Helper</class>
            </nsu>
        </helpers>
    </global>
</config>